parameters:
    level: 6
    paths:
        - src/
        - tests/
    ignoreErrors:
        - { identifier: missingType.iterableValue }
        - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\).#'
        - '#Dynamic call to static method PHPUnit\\Framework\\.*#'
